<nav class="navbar navbar-expand-lg navbar-dark p-3 background" id="headerNav">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" href="#">
      <img class="logo" src="./../../assets/img/logoGameet.png" height="80" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link mx-2" routerLink="/carrusel" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-current="page">Carrusel</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link mx-2" routerLink="/videogameNews" routerLinkActive="active">News</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Company
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/about-us" routerLinkActive="active">Sobre nosotros</a></li>
            <li><a class="dropdown-item" routerLink="/terms-and-conditions" routerLinkActive="active">Términos y condiciones</a></li>
          </ul>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link mx-2" href="#">
            <img class="logo" src="./../../assets/img/logoGameet.png" height="80" />
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link mx-2" routerLink="/games" routerLinkActive="active">Games</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link mx-2" routerLink="/chat" routerLinkActive="active">Chat</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link mx-2" routerLink="/login" routerLinkActive="active">Inicio de sesión</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authService.isLoggedIn()">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/perfil" routerLinkActive="active">Modificar perfil</a></li>
            <li><a class="dropdown-item" (click)="onLogout()">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
