<!-- Header Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header id="header">
  <div class="main_nav">
    <div class="container">
      <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
      <nav>
        <ul>
          <li><a class="smoothscroll" href="#header">Inicio</a></li>
          <li><a class="smoothscroll" href="#about">Sobre nosotros</a></li>
          <li><a class="smoothscroll" href="#skills">Servicios</a></li>
          <li><a class="smoothscroll" href="#contact">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="title">
    <div><span class="typcn typcn-heart-outline icon heading"></span></div>
    <div class="smallsep heading"></div>
    <img src="../../assets/img/logoGameet.png" alt="Girl in a jacket" width="100" height="100" style="margin-bottom: 1rem">
    <h1 class="heading"> GAMEET</h1>
    <h2 class="heading">¡Para vosotros jugadores!</h2>
    <a class="smoothscroll" href="#about">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
    </a> </div>
  <a class="smoothscroll" href="#about">
  <div class="scroll-down"></div>
  </a> </header>
  
<!-- About Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  
<section id="about">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h3><span class="typcn typcn-device-desktop icon"></span>Nuestro proceso</h3>
        <p>Nuestro proceso de desarrollo se basa en metodologías ágiles, lo que nos permite mantener una comunicación constante y efectiva con todas las partes interesadas. Esto garantiza que podamos adaptarnos y mejorar continuamente el sistema según las necesidades emergentes. Para la implementación de Gameet, utilizamos una combinación de tecnologías modernas.</p>
      </div>
      <div class="six columns">
        <h3><span class="typcn typcn-pen icon"></span>Nuestro alcance</h3>
        <p>El alcance de nuestro proyecto abarca la creación de una plataforma que no solo facilita la búsqueda de compañeros de juego, sino que también fomenta una comunidad de usuarios más conectada y dinámica. Gameet está diseñada para jugadores de videojuegos cooperativos que buscan mejorar su experiencia de juego encontrando compañeros compatibles con sus afinidades y preferencias.</p>
      </div>
      <div class="row">
        <div class="six columns">
          <h3><span class="typcn typcn-cog-outline icon"></span>Nuestro objetivo</h3>
          <p>Nuestro principal objetivo con Gameet es mejorar la experiencia de los jugadores de videojuegos cooperativos al facilitarles la búsqueda de compañeros de juego compatibles. Queremos proporcionar una herramienta eficaz que utilice un sistema de recomendación de filtro colaborativo para mostrar perfiles de otros jugadores con afinidades similares, promoviendo así interacciones significativas y productivas entre los usuarios.</p>
        </div>
        <div class="six columns">
          <h3><span class="typcn typcn-lightbulb icon"></span>Nuestra misión</h3>
          <p>Nuestra misión es desarrollar soluciones tecnológicas que conecten a las personas y mejoren sus experiencias digitales. Con Gameet, buscamos crear una comunidad más unida de jugadores de videojuegos cooperativos, permitiéndoles encontrar fácilmente compañeros de juego compatibles y disfrutar de una experiencia de juego enriquecedora y colaborativa. Nos comprometemos a seguir innovando y adaptándonos para satisfacer las necesidades de nuestros usuarios, asegurando siempre una calidad y funcionalidad óptimas en nuestras soluciones.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="team">
  <div class="container">
    <div class="row">
      <h1>Conoce al equipo</h1>
      <div class="block"></div>
      <p>Somos dos desarrolladores Java, actualmente trabajando en nuestro proyecto de fin de grado en Ingeniería Informática-Ingeniería del Software. Nos apasiona crear soluciones innovadoras y estamos comprometidos con ofrecer una experiencia excepcional a nuestros usuarios en el mundo de los videojuegos cooperativos.</p>
    </div>
    <div class="row">
      <div class="three columns"> <img src="https://cdn.pixabay.com/photo/2021/02/12/07/03/icon-6007530_1280.png" width="220" height="220" alt=""/>
        <h4>María García</h4>
        <p>Backend developer</p>
        <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
      <div class="three columns"> <img src="https://cdn-icons-png.flaticon.com/512/219/219988.png" width="220" height="220" alt=""/>
        <h4>Alejandro Sanabria</h4>
        <p>Frontend developer</p>
        <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
    </div>
  </div>
</section>

<!-- Skills Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="skills">
  <div class="container">
      <div class="row">
        <h1>Servicios</h1>
        <div class="block"></div>
        <p>Descubre nuestras soluciones tecnológicas diseñadas para mejorar tu experiencia en los videojuegos cooperativos. Simplificamos la búsqueda de compañeros de juego y potenciamos tu interacción en la comunidad de jugadores.</p>
      </div>
      <div class="row">
        <div class="three columns"> <img src="https://cdn-icons-png.freepik.com/512/10075/10075328.png" width="220" height="220" alt=""/>
          <h4>Carrusel</h4>
          <p>Conoce a tu compañero de partidas en línea ideal</p>
          <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
        <div class="three columns"> <img src="https://cdn-icons-png.flaticon.com/512/5041/5041093.png" width="220" height="220" alt=""/>
          <h4>Chat</h4>
          <p>Sistema de mensajería dentro de la aplicación</p>
          <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
      <div class="three columns"> <img src="https://cdn-icons-png.freepik.com/512/10827/10827282.png" width="220" height="220" alt=""/>
          <h4>Noticias</h4>
          <p>Mantente informado sobre los próximos lanzamientos</p>
          <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
      <div class="three columns"> <img src="https://cdn-icons-png.flaticon.com/512/8486/8486326.png" width="220" height="220" alt=""/>
          <h4>Personalización</h4>
          <p>Personaliza al máximo tu perfil y sácale el máximo partido a nuestra aplicación</p>
          <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
      </div>
    </div>
</section>
  
<!-- Testimonials Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="testimonial">
  <div class="container">
    <div class="quoteLoop">
      <blockquote class="quote"> <img src="https://cdn.pixabay.com/photo/2021/02/12/07/03/icon-6007530_1280.png" width="100" height="100" alt=""/>
        <h5>&nbsp;<br>
          &rdquo;La implementación de Gameet busca mejorar la experiencia de los jugadores de videojuegos cooperativos al permitirles encontrar fácilmente compañeros de juego compatibles, promoviendo así una comunidad de usuarios más conectada y dinámica.&rdquo;<br>
          <small>María García</small></h5>
      </blockquote>
      <blockquote class="quote"> <img src="https://cdn-icons-png.flaticon.com/512/219/219988.png" width="100" height="100" alt=""/>
        <h5>&nbsp;<br>
          &ldquo;Gameet te permitirá contactar con personas ajenas a tu entorno que no tendrías oportunidad de conocer de otra forma, abriendo de esta manera los círculos de amistad tradicionales.  &rdquo;<br>
          <small>Alejandro Sanabria</small></h5>
      </blockquote>
    </div>
  </div>
</section>

<!-- Contact Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<section id="contact">
  <div class="container">
    <h1>Contacto</h1>
    <div class="block"></div>
    <form>
      <div class="row">
        <div class="six columns">
          <label for="exampleRecipientInput">Nombre</label>
          <input class="u-full-width" type="text">
        </div>
        <div class="six columns">
          <label for="exampleEmailInput">Email</label>
          <input class="u-full-width" type="email">
        </div>
      </div>
      <div class="row">
        <label for="exampleMessage">Mensaje</label>
        <textarea class="u-full-width"></textarea>
        <input class="button-primary" type="submit" value="Enviar">
      </div>
    </form>
  </div>
</section>
