<body>
  <div id="svg_wrap"></div>

  <section *ngFor="let section of sections; let i = index" [ngStyle]="{'transform': section.transform}" [hidden]="section.hidden">
    <div class="profile-pic">
      <img [src]="imageUrl" alt="User Pic" id="profile-image1" height="200" (click)="triggerFileInput()">
      <input #fileInput id="profile-image-upload" class="hidden" type="file" (change)="previewFile($event)">
      <div style="color:#999;"></div>
    </div>
    <ng-container [ngSwitch]="i">
      <ng-container *ngSwitchCase="0">
        <p class="bold-text">Información personal</p>
        <input type="email" placeholder="Email" [(ngModel)]="formData.email" name="email" />
        <input type="number" placeholder="Teléfono" [(ngModel)]="formData.telefono" name="telefono" />
        <input type="text" placeholder="Descripción" [(ngModel)]="formData.descripcion" name="descripcion" />
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <p class="bold-text">¿Con qué etiquetas te identificas?</p>
        <div class="container">
          <div class="row">
            <div class="col align-self-center">
              <div id="checklist">
                <input value="CREATIVO" type="checkbox" id="01" (change)="updateCaracteristicas($event)">
                <label for="01">Creativo</label>
                <input value="INTUITIVO" type="checkbox" id="02" (change)="updateCaracteristicas($event)">
                <label for="02">Intuitivo</label>
                <input value="METODICO" type="checkbox" id="03" (change)="updateCaracteristicas($event)">
                <label for="03">Metódico</label>
                <input value="GEEK" type="checkbox" id="04" (change)="updateCaracteristicas($event)">
                <label for="04">Geek</label>
                <input value="RELAJADO" type="checkbox" id="05" (change)="updateCaracteristicas($event)">
                <label for="05">Relajado</label>
              </div>
            </div>
            <div class="col align-self-center">
              <div id="checklist">
                <input value="COLABORATIVO" type="checkbox" id="06" (change)="updateCaracteristicas($event)">
                <label for="06">Colaborativo</label>
                <input value="INDEPENDIENTE" type="checkbox" id="07" (change)="updateCaracteristicas($event)">
                <label for="07">Independiente</label>
                <input value="COMUNICATIVO" type="checkbox" id="08" (change)="updateCaracteristicas($event)">
                <label for="08">Comunicativo</label>
                <input value="EXPLORADOR" type="checkbox" id="09" (change)="updateCaracteristicas($event)">
                <label for="09">Explorador</label>
                <input value="COMPETITIVO" type="checkbox" id="10" (change)="updateCaracteristicas($event)">
                <label for="10">Competitivo</label>
              </div>
            </div>
            <div class="col align-self-center">
              <div id="checklist">
                <input value="ANALITICO" type="checkbox" id="11" (change)="updateCaracteristicas($event)">
                <label for="11">Analítico</label>
                <input value="AVENTURERO" type="checkbox" id="12" (change)="updateCaracteristicas($event)">
                <label for="12">Aventurero</label>
                <input value="AUDAZ" type="checkbox" id="13" (change)="updateCaracteristicas($event)">
                <label for="13">Audaz</label>
                <input value="ESTRATEGICO" type="checkbox" id="14" (change)="updateCaracteristicas($event)">
                <label for="14">Estratégico</label>
                <input value="PERFECCIONISTA" type="checkbox" id="15" (change)="updateCaracteristicas($event)">
                <label for="15">Perfeccionista</label>
              </div>
            </div>
          </div>
        </div>
        <p class="bold-text">Elige tu horario de juego</p>
        <div class="radio-button-container">
          <div class="radio-button">
            <input type="radio" class="radio-button__input" id="radio1" name="horarioJuego" value="MAÑANA" (change)="updateHorarioJuego($event)">
            <label class="radio-button__label" for="radio1">
              <span class="radio-button__custom"></span>
              Mañana
            </label>
          </div>
          <div class="radio-button">
            <input type="radio" class="radio-button__input" id="radio2" name="horarioJuego" value="TARDE" (change)="updateHorarioJuego($event)">
            <label class="radio-button__label" for="radio2">
              <span class="radio-button__custom"></span>
              Tarde
            </label>
          </div>
          <div class="radio-button">
            <input type="radio" class="radio-button__input" id="radio3" name="horarioJuego" value="NOCHE" (change)="updateHorarioJuego($event)">
            <label class="radio-button__label" for="radio3">
              <span class="radio-button__custom"></span>
              Noche
            </label>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <p class="bold-text">Datos sobre la cuenta</p>
        <input type="text" placeholder="Nombre de usuario" [(ngModel)]="formData.username" name="username" />
        <input type="password" placeholder="Contraseña" [(ngModel)]="formData.password" name="password" />
        <input type="password" placeholder="Repite contraseña" name="repeatPassword" />
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <p class="bold-text">Elige tus plataformas de juego</p>
        <div class="row" style="padding: 1rem;">
          <div class="col">
            <input type="checkbox" class="btn-check" id="btn-ps" autocomplete="off">
            <label class="btn btn-primary same-size-btn" for="btn-ps">Play station<br><i class="bi bi-playstation"></i></label>    
          </div>
          <div class="col">
            <input type="checkbox" class="btn-check" id="btn-xbox" autocomplete="off">
            <label class="btn btn-success same-size-btn" for="btn-xbox">Xbox<br><i class="bi bi-xbox"></i></label>    
          </div>
          <div class="col">
            <input type="checkbox" class="btn-check" id="btn-nintendo" autocomplete="off">
            <label class="btn btn-danger same-size-btn" for="btn-nintendo">Nintendo Switch <i class="bi bi-nintendo-switch"></i></label>
          </div>
          <div class="col">
            <input type="checkbox" class="btn-check" id="btn-pc" autocomplete="off">
            <label class="btn btn-warning same-size-btn" for="btn-pc">PC<br><i class="bi bi-pc-display"></i></label>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <p class="bold-text">Términos y condiciones</p>
        <div class="terms-container">
        
          <h2>1. Introducción</h2>
          <p>Bienvenido a GAMEET, una red social diseñada para ayudar a los gamers a encontrar compañeros de videojuegos en línea. Al utilizar nuestros servicios, usted acepta cumplir y estar sujeto a los siguientes términos y condiciones. Por favor, léalos cuidadosamente.</p>
        
          <h2>2. Aceptación de los Términos</h2>
          <p>Al acceder o usar cualquier parte de la plataforma GAMEET, usted acepta estar sujeto a estos términos y condiciones. Si no está de acuerdo con todos los términos y condiciones de este acuerdo, entonces no puede acceder a la plataforma ni utilizar ninguno de sus servicios.</p>
        
          <h2>3. Información Personal</h2>
          <p>Para utilizar nuestros servicios, es posible que le solicitemos que proporcione ciertos datos personales, incluyendo, pero no limitado a:</p>
          <ul>
            <li>Imagen de perfil</li>
            <li>Nombre de usuario</li>
            <li>Email</li>
            <li>Número de teléfono</li>
            <li>Descripción personal</li>
            <li>Características personales (como intereses y preferencias de juego)</li>
            <li>Horario de juego preferido</li>
          </ul>
        
          <h2>4. Uso de la Información Personal</h2>
          <p>La información personal que recopilamos se utilizará para los siguientes propósitos:</p>
          <ul>
            <li>Crear y gestionar su cuenta en GAMEET.</li>
            <li>Facilitar la conexión con otros usuarios que compartan intereses similares en videojuegos.</li>
            <li>Personalizar su experiencia en la plataforma.</li>
            <li>Enviar comunicaciones relacionadas con el servicio, actualizaciones y promociones.</li>
          </ul>
        
          <h2>5. Privacidad y Seguridad</h2>
          <p>En GAMEET, nos comprometemos a proteger su privacidad y sus datos personales. Implementamos medidas de seguridad adecuadas para proteger su información contra accesos no autorizados, alteraciones, divulgaciones o destrucción.</p>
        
          <h2>6. Conducta del Usuario</h2>
          <p>Al utilizar GAMEET, usted se compromete a:</p>
          <ul>
            <li>No utilizar la plataforma para ningún propósito ilegal o no autorizado.</li>
            <li>No acosar, abusar, insultar, dañar, difamar, calumniar, desprestigiar, intimidar o discriminar a otros usuarios.</li>
            <li>No cargar o transmitir virus o cualquier tipo de código malicioso que afecte la funcionalidad o el funcionamiento de GAMEET.</li>
            <li>Respetar los derechos de privacidad y propiedad de otros usuarios.</li>
          </ul>
        
          <h2>7. Contenido Generado por el Usuario</h2>
          <p>Usted es responsable de todo el contenido que publique en GAMEET. Nos reservamos el derecho de eliminar cualquier contenido que, a nuestra discreción, consideremos inapropiado, ofensivo o que viole estos términos y condiciones.</p>
        
          <h2>8. Terminación del Servicio</h2>
          <p>Podemos, a nuestra sola discreción, suspender o terminar su cuenta y el acceso a GAMEET, sin previo aviso, por cualquier violación de estos términos y condiciones.</p>
        
          <h2>9. Modificaciones a los Términos y Condiciones</h2>
          <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Le notificaremos de cualquier cambio a través de la plataforma o por correo electrónico. Su uso continuado de GAMEET después de dichos cambios constituye su aceptación de los nuevos términos y condiciones.</p>
        
          <h2>10. Contacto</h2>
          <p>Si tiene alguna pregunta o inquietud acerca de estos términos y condiciones, por favor, póngase en contacto con nosotros a través de [email de contacto].</p>
        </div>
      </ng-container>      
    </ng-container>
    <button class="cssbuttons-io" id="prev" (click)="prev()" [class.disabled]="isPrevDisabled()"><span>← Atrás</span></button>
    <button class="cssbuttons-io" id="next" (click)="next()" [class.disabled]="isNextDisabled()"><span>Siguiente →</span></button>
    <button class="cssbuttons-io" id="submit" (click)="onSubmit()" [class.disabled]="isSubmitDisabled()"><span>Agree and send application</span></button>
  </section>
</body>
