<body>
  <div id="svg_wrap"></div>

  <section *ngFor="let section of sections; let i = index" [ngStyle]="{'transform': section.transform}" [hidden]="section.hidden">
    <div class="profile-pic">
      <img [src]="imageUrl" alt="User Pic" id="profile-image1" height="200" (click)="triggerFileInput()">
      <input #fileInput id="profile-image-upload" class="hidden" type="file" (change)="previewFile($event)">
      <div style="color:#999;"></div>
    </div>
    <ng-container [ngSwitch]="i">
      <ng-container *ngSwitchCase="0">
        <p class="bold-text">Información personal</p>
        <input type="email" placeholder="Email" [(ngModel)]="formData.email" name="email" />
        <input type="number" placeholder="Teléfono" [(ngModel)]="formData.telefono" name="telefono" />
        <input type="text" placeholder="Descripción" [(ngModel)]="formData.descripcion" name="descripcion" />
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <p class="bold-text">¿Con qué etiquetas te identificas?</p>
        <div class="container">
          <div class="row">
            <div class="col align-self-center">
              <div id="checklist">
                <input value="CREATIVO" type="checkbox" id="01" (change)="updateCaracteristicas($event)">
                <label for="01">Creativo</label>
                <input value="INTUITIVO" type="checkbox" id="02" (change)="updateCaracteristicas($event)">
                <label for="02">Intuitivo</label>
                <input value="METODICO" type="checkbox" id="03" (change)="updateCaracteristicas($event)">
                <label for="03">Metódico</label>
                <input value="GEEK" type="checkbox" id="04" (change)="updateCaracteristicas($event)">
                <label for="04">Geek</label>
                <input value="RELAJADO" type="checkbox" id="05" (change)="updateCaracteristicas($event)">
                <label for="05">Relajado</label>
              </div>
            </div>
            <div class="col align-self-center">
              <div id="checklist">
                <input value="COLABORATIVO" type="checkbox" id="06" (change)="updateCaracteristicas($event)">
                <label for="06">Colaborativo</label>
                <input value="INDEPENDIENTE" type="checkbox" id="07" (change)="updateCaracteristicas($event)">
                <label for="07">Independiente</label>
                <input value="COMUNICATIVO" type="checkbox" id="08" (change)="updateCaracteristicas($event)">
                <label for="08">Comunicativo</label>
                <input value="EXPLORADOR" type="checkbox" id="09" (change)="updateCaracteristicas($event)">
                <label for="09">Explorador</label>
                <input value="COMPETITIVO" type="checkbox" id="10" (change)="updateCaracteristicas($event)">
                <label for="10">Competitivo</label>
              </div>
            </div>
            <div class="col align-self-center">
              <div id="checklist">
                <input value="ANALITICO" type="checkbox" id="11" (change)="updateCaracteristicas($event)">
                <label for="11">Analítico</label>
                <input value="AVENTURERO" type="checkbox" id="12" (change)="updateCaracteristicas($event)">
                <label for="12">Aventurero</label>
                <input value="AUDAZ" type="checkbox" id="13" (change)="updateCaracteristicas($event)">
                <label for="13">Audaz</label>
                <input value="ESTRATEGICO" type="checkbox" id="14" (change)="updateCaracteristicas($event)">
                <label for="14">Estratégico</label>
                <input value="PERFECCIONISTA" type="checkbox" id="15" (change)="updateCaracteristicas($event)">
                <label for="15">Perfeccionista</label>
              </div>
            </div>
          </div>
        </div>
        <p class="bold-text">Elige tu horario de juego</p>
        <div class="radio-button-container">
          <div class="radio-button">
            <input type="radio" class="radio-button__input" id="radio1" name="horarioJuego" value="Mañana" (change)="updateHorarioJuego($event)">
            <label class="radio-button__label" for="radio1">
              <span class="radio-button__custom"></span>
              Mañana
            </label>
          </div>
          <div class="radio-button">
            <input type="radio" class="radio-button__input" id="radio2" name="horarioJuego" value="Tarde" (change)="updateHorarioJuego($event)">
            <label class="radio-button__label" for="radio2">
              <span class="radio-button__custom"></span>
              Tarde
            </label>
          </div>
          <div class="radio-button">
            <input type="radio" class="radio-button__input" id="radio3" name="horarioJuego" value="Noche" (change)="updateHorarioJuego($event)">
            <label class="radio-button__label" for="radio3">
              <span class="radio-button__custom"></span>
              Noche
            </label>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <p class="bold-text">Datos sobre la cuenta</p>
        <input type="text" placeholder="Nombre de usuario" [(ngModel)]="formData.username" name="username" />
        <input type="password" placeholder="Contraseña" [(ngModel)]="formData.password" name="password" />
        <input type="password" placeholder="Repite contraseña" name="repeatPassword" />
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <p class="bold-text">Elige tus plataformas de juego</p>
        <div class="row" style="padding: 1rem;">
          <div class="col">
            <input type="checkbox" class="btn-check" id="btn-ps" autocomplete="off">
            <label class="btn btn-primary same-size-btn" for="btn-ps">Play station<br><i class="bi bi-playstation"></i></label>    
          </div>
          <div class="col">
            <input type="checkbox" class="btn-check" id="btn-xbox" autocomplete="off">
            <label class="btn btn-success same-size-btn" for="btn-xbox">Xbox<br><i class="bi bi-xbox"></i></label>    
          </div>
          <div class="col">
            <input type="checkbox" class="btn-check" id="btn-nintendo" autocomplete="off">
            <label class="btn btn-danger same-size-btn" for="btn-nintendo">Nintendo Switch <i class="bi bi-nintendo-switch"></i></label>
          </div>
          <div class="col">
            <input type="checkbox" class="btn-check" id="btn-pc" autocomplete="off">
            <label class="btn btn-warning same-size-btn" for="btn-pc">PC<br><i class="bi bi-pc-display"></i></label>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <p class="bold-text">Términos y condiciones</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </ng-container>
    </ng-container>
    <button class="cssbuttons-io" id="prev" (click)="prev()" [class.disabled]="isPrevDisabled()"><span>← Previous</span></button>
    <button class="cssbuttons-io" id="next" (click)="next()" [class.disabled]="isNextDisabled()"><span>Next →</span></button>
    <button class="cssbuttons-io" id="submit" (click)="onSubmit()" [class.disabled]="isSubmitDisabled()"><span>Agree and send application</span></button>
  </section>
</body>
