<html>
  <head>
    <!-- Metadatos y otras configuraciones del encabezado -->
  </head>
  <body class="background" [ngStyle]="{'background-image': 'url(' + currentBackground + ')'}">
    <div class="container">
      <div class="box">
        <img src="../../assets/img/logoGameet.png" class="logo" alt="Logo de Gameet">
        <form (submit)="onLogin()">
          <div class="inputBox">
            <input type="text" name="username" required [(ngModel)]="username" #usernameInput="ngModel">
            <label>Username</label>
          </div>
          <div class="inputBox">
            <input type="password" name="password" required [(ngModel)]="password" #passwordInput="ngModel">
            <label>Password</label>
          </div>
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          <button type="submit" class="cssbuttons-io">
            <span>Inicia sesión</span>
          </button>
          <p class="white-text">¿No tienes cuenta? <a (click)="goToRegister()">Regístrate aquí</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
